<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static.css/base.css}" />
    <link rel="stylesheet" th:href="@{/static.css/bootstrap.min.css}" />
</head>
<body>
<div id="mainHide">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-5">제목</th>
            <th class="col-md-3">내용</th>
            <th class="col-md-9">날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.boardNo}"></td>
            <td><a th:href="'/board?idx='+${board.boardNo}" th:text="${board.boardName}"></a></td>
            <td th:text="${board.article}"></td>
            <td th:text="${#temporals.format(board.writeDate, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
